@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Chartify's Privacy Policy'</h1>

<p>At Chartify, we are committed to protecting and respecting your privacy. This Privacy Policy explains how we collect, use, and safeguard your personal data when you use our website hosted on the local machine (localhost).</p>
