@model Chartify.ViewModels.ChartViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Chart Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DifficultyName)
        </dd>
    </dl>
</div>
<div>
    <form method="post" asp-action="Download" enctype="multipart/form-data" runat="server">
        <input type="submit" class="btn btn-info" asp-action="Download" asp-controller="Chart" asp-route-id="@Model?.Id" value="Download" />
    </form>
    <a asp-action="Download" asp-route-id="@Model?.Id">Download</a> |
    <a asp-action="Update" asp-route-id="@Model?.Id">Update</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
