@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="card bg-dark text-white align-center mx-auto p-2" style="width: 25rem;">
    <div class="card-body text-white text-center">
        <h3 class="card-title">Log In</h3>
    </div>
    <form id="account" method="post">
        <h2 class="text=center mb-3">Use a local account to log in.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.UserName" class="form-control bg-dark text-white" aria-required="true" />
            <label asp-for="Input.UserName" class="form-label"></label>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control bg-dark text-white" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div>
            <div class="checkbo mb-3x">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
